
*{
    /* font-weight: normal; */
    box-sizing: border-box;
}

.layout
{
    width: 70%;
    margin: auto;
    display: flex;
    border: 5px solid black;
    /* justify-content: space-around; */
}

.left
{
    width: 25%;
    height: 1050px; 
}
.profile-image
{
    width: 100%;
    height: 200px;
  
    /* border: 2px solid black; */
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}
.profile-image img
{
    padding: auto;
    margin: auto;
    width: 70%;
    
}

.right
{
    padding-left: 5px;
    width: 75%;
    height: 1050px; 
}




.links
{
    margin: 5px 10px;
}
.icons
{
    /* display: inline; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 2em;
    color: rgb(31, 176, 128);
}
.icon-text
{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 12px;
    font-size: 1em;
}
.icon-text a
{
    display: inline;
    word-wrap: break-word;
}
h2
{
    margin-left: 10px;
    margin-bottom: 12px;
    margin-right: 15px;
    border-bottom: 1px solid rgb(31, 176, 128);
    color: rgb(31, 176, 128);

}

.inside-skills
{
    margin-right: 25px;
    /* border: 1px darkgreen; */
    background-color: rgb(31, 176, 128);
    border-radius: 4px;
    height: 28px;
    /* align-items: center; */
}
h4
{
    /* margin-top: 15px; */
    margin-top: 0px;
    margin-left: 10px;
    /* margin-bottom: 12px; */
    margin-right: 15px;
    color: rgb(63, 63, 64);
    /* text-align: center; */
    padding-top: 5px;
    /* border-bottom: 1px solid rgb(31, 176, 128); */
     /* color: rgb(31, 176, 128); */
}
h3
{
    padding: 0%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    color: rgb(31, 176, 128);
    border-bottom: 1px solid rgb(31, 176, 128);
}
.work-exp h4
{
    /* color: black; */
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 15px;
    padding: 0px;
    line-height: 1;

    /* font-size: 0.9em; */
    /* //////8margin-bottom: 5px; */
    color: rgb(31, 176, 128);
}
.inside-languages h4
{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
    color: black;
    /* text-align: center; */
    padding-top: 5px;
}
.place-circles
{
    margin-top: 5px;
    margin-left: 13px;
    margin-bottom: 12px;
    margin-right: 15px;
    
    display: flex;
    justify-content: space-between;
}
.rating
{
    color: rgb(31, 176, 128);
}

.unrate
{
    color: rgb(31, 176, 128);
}

.intro
{
    /* margin-left: 15px; */
    height: 180px;
    background-color: rgb(31, 176, 128);
}
h1
{
    /* font-stretch: expanded; */
    color: white;
    font-weight: 1;
    font-size: 2.7em;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1em;
}
.intro h4
{
    padding: 0px;
    color: white;
    font-weight: normal;
    font-size: 1.2em; 
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px solid rgb(31, 176, 128);
    
}

hr
{
    color: white;
    background-color: white;
    border: 0.5px solid white; 
    margin-top: 0px;
    margin-left: 15px;
    width: 14%;

}
p
{
    color: white;

    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 0.9em;
    margin-bottom: 5px;
}
#company-name 
{
    margin-top: 2px;
    color: black;

}
.date-place
{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 15px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    /* line-height: 1px; */

}
.place,.date
{
    margin-top: 0px;
    font-size: 0.8em;
    color: rgb(31, 176, 128);
}
ul
{
    margin: 5px;
    padding-left: 24px;
}
li::marker
{
    color: rgb(31, 176, 128);;
}
li
{
    color: black;
}

.work-exp  .project
{
    color: black;
}

.education h3
{
    padding: 0%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 15px;
    color: rgb(31, 176, 128);
    border-bottom: 1px solid rgb(31, 176, 128);
}


.education h4
{
    padding: 0%;
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 2px;
    margin-right: 15px;
    
    color: black;
    border-bottom: 0px solid rgb(31, 176, 128);
}
.education .degree
{
    margin-top: 12px;
    color:  rgb(31, 176, 128);
    line-height: 0.1em;
}
.C 
{
    width:70%;
    
}
.Cpp
{
    width: 90%;
    /* transition-duration: 5s; */
}
.HTML
{
    width: 75%;
    /* transition-duration: 5s; */
}
.CSS
{
    width: 80%;
    /* transition-duration: 5s; */
}
.Javascript
{
    width: 60%;
    /* transition-duration: 5s; */
}
.skills .border-element
{
    margin-left: 10px;
    margin-bottom: 12px;
    margin-right: 25px;
    /* border: 1px darkgreen; */
    /* background-color: rgb(31, 176, 128); */
    border-radius: 5px;
    height: 30px;
    width: 90%;
    border: 1px solid darkgreen;
}
.icons:hover
{
    cursor: pointer;
    font-size: 3em;
    color: rgb(86, 86, 86);
}

.iconic:link {
    color: black;
    
  }
  
  /* visited link */
.iconic:visited {
    color: black;
  }
  
  /* mouse over link */
.iconic:hover {
    color: darkgreen;
    
  }
  
  /* selected link */
.iconic:active {
    color: #0000FF;
  }


  @media only screen and (max-width: 1150px) {
    
       .left
       {
            height: 1150px;
       }
       .right
       {
            height: 1150px;
       }

    
  }
  